@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Upendo.Modules.UpendoUserManaged.ViewModels.RolesViewModel>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@{
    string srcLogo = DotNetNuke.Entities.Tabs.TabController.CurrentPage.Title +
    "/DesktopModules/MVC/Upendo.Modules.UpendoUserManaged/Images/Upendo-logo-trans.png";
    string name = ViewBag.User.DisplayName;
    int userId = ViewBag.User.UserId;
}
<div id="Items-@Dnn.ModuleContext.ModuleId" style="margin: 2%!important;">
    <div class="col-md-12">
        <div class="col-md-4">
            <img alt="logo" src=@srcLogo />
        </div>
        <div class="col-md-8">
            <h1 id="title">@name Role List</h1>
        </div>
    </div>
    @if (Model == null)
    {
        <p>@Dnn.LocalizeString("NoItems")</p>
    }
    else
    {
        <hr />
        <table class="table dynamic table-striped table-bordered table-hover" id="table">
            <thead>
                <tr style="background-color:#6d5a2c; color:#FFFFFF">
                    <th hidden></th>
                    <th>ROLE</th>
                    <th style="text-align:center">ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td hidden>
                            @item.Index
                        </td>
                        <td>
                            @item.RoleName
                        </td>
                        <td style="text-align:center">
                            @if (@item.HasRole == true)
                            {
                                <a data-hint="Delete" class="btn btn-danger btn-sm edit hint--top hint--" href="@Url.Action("DeleteUserRole", "UserManage", new {roleId = item.RoleId, userId = @userId})"
                                   data-toggle="tooltip" data-placement="top" title="Delete">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            }
                            else
                            {
                                <a data-hint="Add Role" class="btn btn-primary btn-sm edit hint--top hint--" href="@Url.Action("AddUserToRole", "UserManage", new {roleId = item.RoleId, userId = @userId })"
                                   data-toggle="tooltip" data-placement="top" title="Add Role">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<script>
    $(document).ready(function () {
        $('#dataTables-pages').DataTable({
        });
    });
</script>