@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Upendo.Modules.UpendoUserManaged.ViewModels.UserViewModel>

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers

<div class="">
    <h3>Create New User</h3>
    <fieldset>
        <div class="row" id="ml5">
            <div class="formItem col-6">
                <div><label>First Name</label></div>
                @Html.TextBoxFor(m => m.FirstName)
            </div>
            <div class="formItem col-6">
                <div><label>Last Name</label></div>
                @Html.TextBoxFor(m => m.LastName)
            </div>
            <div class="formItem col-6">
                <div><label>Username</label></div>
                @Html.TextBoxFor(m => m.Username)
            </div>
            <div class="formItem col-6">
                <div><label>Email</label></div>
                @Html.TextBoxFor(m => m.Email)
            </div>
            <div class="formItem col-6">
                <div><label>Password</label></div>
                @Html.TextBoxFor(m => m.Password, new
                {
                    @class = "form-control",
                    placeholder = "Password",
                    @type =
                "password"
                })
            </div>
            <div class="formItem col-6">
                <div><label>Confirm Password</label></div>
                <input type="password" id="confirmPassword" />
            </div>
            <div class="checkbox col-6">
                @Html.CheckBoxFor(m => m.IsSuperUser)
                <label>IsSuperUser</label>
            </div>
            <div class="checkbox col-6">
                @Html.CheckBoxFor(m => m.Approved)
                <label>Approved</label>
            </div>
        </div>
        @Html.HiddenFor(m => m.UserId)
    </fieldset>
</div>
<div class="buttomForm">
    <button type="submit" id="primary">Save</button>
    <button id="cancelEdit" href="#">@Dnn.LocalizeString("Cancel")</button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
    @* $('.dnnFormPopup').hide();
            $('.ui-dialog-titlebar').hide();
            $(".ui-dialog-titlebar").dialog({
            title: "Dialog Title"
            }); *@
            $(".ui-dialog-titlebar").dialog('ui-dialog-titlebar', 'title', 'New Title');
    });
    $("#submit").on("click", function (e) {
        var password = $("#Password").val();
        var confirmPassword = document.getElementById("confirmPassword").value;
        if (password == confirmPassword) {
            e.preventDefault();
            alert("value can't be null");
        }
    })
        /*globals jQuery, window, Sys */
        (function ($, Sys) {
            function dnnEditBasicSettings() {
                $('#dnnEditBasicSettings').dnnPanels();
                $('#dnnEditBasicSettings .dnnFormExpandContent a').dnnExpandAll({
                    expandText: '@Dnn.LocalizeString("ExpandAll")',
                    collapseText: '@Dnn.LocalizeString("CollapseAll")',
                    targetArea: '#dnnEditBasicSettings'
                });
            }

            $(function () {
                $('#cancelEdit').click(function () { dnnModal.closePopUp(false); });
                dnnEditBasicSettings();
                Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function () {
                    dnnEditBasicSettings();
                });
            });
        }(jQuery, window.Sys));
</script>