@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Upendo.Modules.UpendoUserManaged.Models.DnnModel.Users>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@{
    string srcLogo = DotNetNuke.Entities.Tabs.TabController.CurrentPage.Title + "/DesktopModules/MVC/Upendo.Modules.UpendoUserManaged/Images/Upendo-logo-trans.png";
}
<div id="Items-@Dnn.ModuleContext.ModuleId" style="margin: 2%!important;">
    <div class="col-md-12">
        <div class="col-md-4">
            <img alt="logo" src=@srcLogo />
        </div>
        <div class="col-md-8">
            <h1 id="title">Upendo User Manage</h1>
            <h6 id="subtitle">Module for user management in DNN</h6>
        </div>
    </div>

    @if (Model == null)
    {
        <p>@Dnn.LocalizeString("NoItems")</p>
    }
    else
    {
        <hr />
        <div class="pb10">
            <div class="col-md-10">
                <h1 id="title">List of @ViewBag.Filter Users</h1>
            </div>
            <div class="col-md-2">
                <div class="select-menu ">
                    <div class="select-btn">
                        <span class="sBtn-text">Filters</span>
                        <i class="bx bx-chevron-down"></i>
                    </div>
                    <ul class="options">
                        <li class="option">
                            <a href="@Url.Action("Index", "UserManage", new {filter = "All"})">
                                <span class="option-text">All</span>
                            </a>
                        </li>
                        <li class="option">
                            <a href="@Url.Action("Index", "UserManage", new {filter = "Authorized"})">
                                <span class="option-text">Authorized</span>
                            </a>
                        </li>
                        <li class="option">
                            <a href="@Url.Action("Index", "UserManage", new {filter = "Unauthorized"})">
                                <span class="option-text">Unauthorized</span>
                            </a>
                        </li>
                        <li class="option">
                            <a href="@Url.Action("Index", "UserManage", new {filter = "Deleted"})">
                                <span class="option-text">Deleted</span>
                            </a>
                        </li>
                        <li class="option">
                            <a href="@Url.Action("Index", "UserManage", new {filter = "SuperUsers"})">
                                <span class="option-text">SuperUsers</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ml5">
                <a type="button" class="dnnPrimaryAction" href="@Url.Action("Create", "UserManage", new {ctl = "Edit"})">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create User
                </a>
                <a type="button" class="btn btn-warning" href="@Url.Action("DeleteUnauthorizedUsers", "UserManage", new {})" style="color: white;">
                    Delete Unauthorized Users
                </a>
                <a type="button" class="btn btn-warning" href="@Url.Action("RemoveDeletedUsers", "UserManage", new {})" style="color: white;">
                    Remove Delete Users
                </a>
            </div>
        </div>

        <table class="table dynamic table-striped table-bordered table-hover" id="table">
            <thead>
                <tr style="background-color:#6d5a2c; color:#FFFFFF">
                    <th class="hidden">Id</th>
                    <th>USERNAME</th>
                    <th>DISPLAY NAME</th>
                    <th>EMAIL</th>
                    <th style="text-align:center">SUPERUSER</th>
                    <th style="text-align:center">ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="hidden">
                            @item.UserId
                        </td>
                        <td>
                            @item.Username
                        </td>
                        <td>
                            @item.DisplayName
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td class="text-center">
                            @if (@item.IsSuperUser == true)
                            {
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:yellowgreen"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red"></span>

                            }

                        </td>
                        <td class="text-center">
                            <a data-hint="Edit" class="btn btn-warning btn-sm edit hint--top hint--warning" href="@Url.Action("Edit", "UserManage", new {ctl = "Edit", itemId = item.UserId})"
                               data-toggle="tooltip" data-placement="top" title="Edit">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a data-hint="Reset Password" class="btn btn-default btn-sm edit hint--top hint--" href="@Url.Action("ChangePassword", "UserManage", new {ctl = "Edit", itemId = item.UserId})"
                               data-toggle="tooltip" data-placement="top" title="Reset Password">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </a>
                            <a data-hint="User Roles" class="btn btn-info btn-sm edit hint--top hint--" href="@Url.Action("UserRoles", "UserManage", new {itemId = item.UserId})"
                               data-toggle="tooltip" data-placement="top" title="User Roles">
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                            </a>
                            <span id="dialogs-demo" class="dnnActions" style="display: initial;">
                                <a data-hint="Delete" class="confirm btn btn-danger btn-sm delete hint--top hint--error" data-placement="top" data-singleton="true" href="@Url.Action("Delete", "UserManage", new {itemId = item.UserId})">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<script>
    $(function () {
        $('#dialogs-demo .confirm').dnnConfirm();
    });

    const optionMenu = document.querySelector(".select-menu"),
        selectBtn = optionMenu.querySelector(".select-btn"),
        options = optionMenu.querySelectorAll(".option"),
        sBtn_text = optionMenu.querySelector(".sBtn-text");

    selectBtn.addEventListener("click", () =>
        optionMenu.classList.toggle("active")
    );

    options.forEach((option) => {
        option.addEventListener("click", () => {
            let selectedOption = option.querySelector(".option-text").innerText;
            sBtn_text.innerText = selectedOption;
            optionMenu.classList.remove("active");
        });
    });
    $(document).ready(function () {
        $('#dataTables-pages').DataTable();
    });
</script>   